* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #191816;
}

div.main {
  color: #afb6c2;
  background-color: #24221f;
  height: 400px;
  width: 550px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 15% 15% 1fr;
}

div.cep-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.logradouro {
  padding: 8px 12px;

  & input {
    border-radius: 8px;
    width: 100%;
    height: 25px;
  }
}

div.estado {
  padding: 8px 12px;

  & input {
    border-radius: 8px;
    width: 100%;
    height: 25px;
  }
}

div.bairro {
  padding: 8px 12px;

  & input {
    border-radius: 8px;
    width: 100%;
    height: 25px;
  }
}

div.cidade {
  padding: 8px 12px;

  & input {
    border-radius: 8px;
    width: 100%;
    height: 25px;
  }
}
div.setCep {
  padding: 8px 12px;
  grid-row: 3;
  grid-column: 1 / 3;

  & input {
    border-radius: 8px;
    width: 100%;
    height: 25px;
  }
}
